{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <!--<b>{{ evento.titulo }} - {{ evento.data_evento }}</b>-->
    <!--para precorrer a lista de eventos-->
    <!--duas chaves imprime variáveis python, chave e porcentagem permite realizar operações python-->
    <a href="evento/">
        <button type="button">Novo Evento</button>
    </a>
    <ul>
        {% for evento in eventos %}
            <li>{{ evento.titulo }} - {{ evento.data_evento }}<!--chama a função ao inves do valor direto-->
                (<a href="evento/?id={{ evento.id }}">Editar</a>/ <!--passa a url com o id do evento-->
                 <a href="evento/delete/{{ evento.id }}/">Excluir</a>)
            </li>

        {% endfor %}
    </ul>
{% endblock %}